/* General styling. Fonts og variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root {
    --primaryGreen: hsl(170, 100%, 20%);
    --almostBlack: hsl(0, 0%, 15%);
    --gold: hsl(39, 84%, 68%);
    --red: hsl(0, 53%, 50%);
    --offWhite: hsl(40, 56%, 94%); 
    --stndSpacing: 1rem;
    --largeSpacing: 2rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--primaryGreen);
    color: var(--offWhite);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--offWhite);
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--offWhite);
}

/*nav STYLING*/
nav {
    display: flex;
    justify-content: space-between;
}
nav a{
    list-style-type: none;
    text-decoration: none;
    color: var(--offWhite);
}
nav ul{
    display: none;
}
nav i{
    fill: var(--offWhite);
    font-size: 3rem;

}
nav img{
    max-width: 50vw;
    max-height: 3rem;
}

@media screen and (min-width:750px){
nav ul{
    display: flex;
}
nav li{
    margin-inline: 1rem;
}
#burger{
    display: none;
}

nav ul a {
    transition: .3s ease-in-out;
}

nav ul a:hover {
    color: var(--primaryGreen);
    background: var(--offWhite);
}
}

/* Focused entry points */

.boder, .arranger, .billetkøb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--primaryGreen);
    border-radius: 15px;
    color: var(--primaryGreen);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.focused-entry-points{
    background-color: var(--gold);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
    
.boder p, .arranger p, .billetkøb p{
font-weight: 600;
margin: 0;
}

.boder i, .arranger i, .billetkøb i{
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.focused-entry-points a{
    text-decoration: none;
}



/* footer styling */
.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--largeSpacing);
}

.footerContainer li {
    list-style-type: none;
}

.footerContainer i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.footerContainer li p {
    margin-left: 2.9rem;}

/* Callout */
.callout{
    border: 2px solid var(--gold);
    border-radius: 15px;
    display: inline-block;
    align-items: center;
    padding-top: 1rem;
}

.callout p{
    margin-right: 2rem;
    margin-left: 2rem;
}

.callout p:last-of-type{
    margin-bottom: 1rem;
}

.button{
    text-decoration: none;
    color: var(--offWhite);
    background-color: var(--red);
    padding: 10px;
    border-radius: 30px;
    padding-inline: 30px;
    margin-left: 4rem;
}

/* aktiviter */

video#hero-video{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aktiviteter-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aktiviteter-intro h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aktiviteter-intro p{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 700px;
}

.aktiviter-julefrokost-steg{
    background-color: var(--gold);
}

.container-magisk-julefrokost{
    padding: 2rem;
    padding-bottom: 3rem;
    color: var(--primaryGreen);
    position: relative;
    height:auto;
    max-width: 400px;
    margin: 0 auto;
}

.magisk-julefrokost{
    border: 2px solid var(--primaryGreen);
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.magisk-julefrokost ul{
    list-style-type: none;
}

.magisk-julefrokost h4{
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magisk-julefrokost p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.julefrokost-pris{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--stndSpacing);
}

.button-julefrokost{
    text-decoration: none;
    color: var(--offWhite);
    background-color: var(--red);
    padding: 10px;
    border-radius: 30px;
    padding-block: 1rem;
    padding-inline:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline:2.6rem;
    max-width: 250px;
    position: absolute;
    top: 80%;
    margin-top: 1rem;
    font-weight: 600;
}

.aktiviter-julefrokost-steg img{
display:none;
}

.aktiviter-julefrokost-steg{
    padding-block: 2rem;
}

.aktiviter-card-container{
    background-color: var(--primaryGreen);
}

.card {
    border: 2px solid var(--gold);
    border-radius: 15px;
    padding: 2rem;
    margin: var(--largeSpacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;
}

 
.cardText1 h3 {
    font-weight: 600;
    font-size: 1.5rem;
}
 
.card img {
    max-height: 70vh;
    max-width: 60vw;
    padding: var(--stndSpacing);
    border-radius: 25px;
}

 /* Media Query Aktiviteter*/

 @media screen and (min-width:750px){
   /* header */


   
    /* main */
    .aktiviter-julefrokost-steg img{
        display:flex;
        max-width: 50%;
        height: auto;
        margin: 1rem;
        }

    .aktiviter-julefrokost-steg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .container-magisk-julefrokost{
        margin: 1rem;
        padding: 0;
    }

    .magisk-julefrokost{
        padding-bottom:2rem
    }

    .button-julefrokost{
        top: 85%;
    }

    .focused-entry-points{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  
    
    /* footer */
    .footerContainer ul {
        flex-direction: row;
        gap: 1.5rem;
        align-items: baseline;
    }

    .footerContainer i {
        margin-right: .5rem;
        align-items: center;
    }

    .footerContainer li p {
        margin-left: unset;
    }
 }